html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-image: url("../images/gravel.png");
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top:8px solid #4aaaa5;
    height: 50px; /* Set the fixed height of the footer here */
     /* Vertically center the text there */
    background-color:#666;
    color:#ccc;
    font-size:12px;
    text-align:center;
    padding:10px;
   
  }